@media (max-width: 767px) {
    /* start header */
    .header #menu-btn {
        display: initial;
    }

    .header .navbar {
        padding: 10px;
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        flex-direction: column;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: 0.2s ease-out;
    }

    .header .navbar 


/* start home */
.home .content {
        padding-bottom: var(--padding-sc);
    }
}
